//后台样式
@import 'base.scss';
@import 'table.scss';
input,
i,
select,
textarea,
button:focus {
    outline: 0 none !important;
}

a,
i,
button,
input,
li,
span {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

.notice {
    position: fixed;
    top: 0;
    left: 50%;
    padding: 0 40px;
    transform: translateX(-50%);
    z-index: 9999;
}

.img-thumbnail {
    max-width: 200px;
    height: 100px;
}

.tree-container {
    margin-top: 15px;
    font-size: 10px;
}

.form-small-text {
    font-size: 10px;
    textarea {
        font-size: 10px;
        color: gray;
        &#editor {
            width: 100%;
            min-height: 300px;
        }
    }
}

.table,
.table-responsive {
    tbody > tr > td {
        vertical-align: middle;
    }
}


ul {
    padding: 0;
    li {
        padding: 0;
    }
}
